// Clear the float on any element.
@mixin clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

// Set element size
@mixin size($width, $height) {
	width: $width;
	height: $height;
}

@mixin square($size) {
	@include size($size, $size);
}
