//text vars
$c-link: #7182ad;
$c-link-active: #545454;
$c-input-placeholder: #c8c8c8;
$c-checkbox-text: #000;

//element vars
$c-header-border: #d9d9d9;
$c-input-border: #e5e5e5;
$c-input-color: #1c1c1c;
$c-checkbox-border: #435993;
$c-checkbox-bg: #545454;
$c-slider-bg: #e8e8e8;
$c-slider-border: #b3b3b3;
$c-bnt-bg: #435993;

// background
$bg-white: #fff;

//query breakpoints
$breakpoints: (xs: 480px, sm: 550px, md: 768px, lg: 1200px, xl: 1440px);
