@import 'var';
@import 'mixins';
@import 'plugins';
@import 'fonts';

body {
  font: 14px/20px "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
}

.wrapper {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  width: 100%;
  border-bottom: 1px solid $c-header-border;
  @include media("<=md") {
    margin: 5px 0 0;
  }

  &__burger {
    display: inline-block;
    cursor: pointer;

    @include media(">=md") {
      display: none;
    }

    &--open {
      .header__burger--one {
        transform: rotate(-45deg) translate(-9px, 6px);
      }

      .header__burger--two {
        opacity: 0;
      }

      .header__burger--three {
        transform: rotate(45deg) translate(-5px, -2px);
      }
    }
  }

  &__burger-line {
    width: 35px;
    height: 2px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }

  &__nav {
    padding: 30px 0;


    @include media("<=md") {
      display: none;
      position: absolute;
      left: 0;
      top: 36px;
      background-color: $bg-white;
      width: 100%;
    }

  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @include media("<=md") {
      flex-direction: column;
    }
  }

  &__list-item {
    margin: 0 22px;
  }

  &__link {
    color: $c-link;
    font-size: 14px;
    text-decoration: none;
    padding: 0 15px;
    position: relative;
    display: block;

    @include media("<=md") {
      padding: 0;
    }

    &--active {
      color: $c-link-active;
    }

    &:after {
      content: '';
      position: absolute;
      bottom: -5px;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 0;
      height: 1px;
      background-color: $c-link-active;
      transition: all .3s ease-in-out;
    }

    &:hover {
      &:after {
        @include media(">=md") {
          width: 100%;
        }
      }
    }
  }
}

.page {
  background: url("../img/bg/main-bg.png") top no-repeat;
  width: 100%;
  height: 100vh;
  text-align: center;
  padding-top: 120px;

  &__title {
    font-size: 70px;
    font-weight: 100;
    line-height: 1;
  }

  &__form {
    padding: 64px 0 74px;

    @include media("<=md") {
      padding: 30px 0;
    }
  }
}

.form {
  &__section-icon {
    margin: 0 0 21px -4px;
  }

  &__section-title {
    font-size: 30px;
    font-weight: 300;
    line-height: 1;
  }

  &__section {
    margin: 0 auto 71px;

    @include media("<=md") {
      margin: 0 auto 50px;
    }

    &--personal-data {
      max-width: 524px;
      padding: 50px 0 0 5px;
    }

    &--about {
      max-width: 770px;
      padding: 47px 0 0;
      margin: 0 auto 122px;

      @include media("<=md") {
        margin: 0 auto 50px;
      }
    }

    &--js-lvl {
      max-width: 770px;
      margin: 0 auto 90px;

      @include media("<=md") {
        margin: 0 auto 50px;
      }
    }

    &--text-area {
      max-width: 520px;
      margin: 0 auto;
    }
  }

  &__text {
    font-size: 16px;
    font-weight: 100;
    line-height: 22px;
    max-width: 507px;
    margin: 17px auto 38px;
  }

  &__text-area {
    height: 180px;
    border: 1px solid $c-input-border;
    width: 100%;
    border-radius: 5px;
    resize: none;
    padding: 20px;
    font-size: 20px;

    @include media("<=sm") {
      font-size: 18px;
      height: 100px;
      padding: 10px;
    }

    &:focus,&:active,&:hover {
      outline: none;
    }

    &::placeholder {
      color: $c-input-placeholder;
    }

    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background: #888;
      border-radius: 2px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }

  &__btn {
    margin: 65px 0 0;
    background-color: $c-checkbox-border;
    border: none;
    border-radius: 8px;
    height: 50px;
    width: 115px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;

    @include media("<=xs") {
      margin: 30px 0 0;
    }
  }
}

.about-section {
  display: flex;
  text-align: left;
  flex-wrap: wrap;

  &__col {
    flex: 1;

    @include media("<=md") {
      flex: 0 0 60%;
      margin: 0 auto;
    }

    @include media("<=sm") {
      flex: 0 0 100%;
    }

    &:nth-child(1) {
      flex: 0 0 36.4%;

      @include media("<=md") {
        flex: 0 0 60%;
      }

      @include media("<=sm") {
        flex: 0 0 100%;
      }
    }

    &:nth-child(2) {
      flex: 0 0 36.3%;

      @include media("<=md") {
        flex: 0 0 60%;
      }

      @include media("<=sm") {
        flex: 0 0 100%;
      }
    }
  }
}

.js-lvl {
  padding: 44px 0 0;

  &__slider {
    height: 23px;
    transform: skewY(-1deg);
    position: relative;
    border: none !important;
    border-radius: 0 !important;
    background-color: $c-slider-bg;

    .ui-slider-handle {
      z-index: 999;
      transform: skewY(1deg) translate(-3px, 16px);
      border: none !important;
      background: url("../img/icons/slider.png") center no-repeat;
      background-size: cover;
      width: 23px;
      height: 26px;
    }

    .ui-widget-header {
      border-radius: 0;
      background: #ccb1f1;
      background: linear-gradient(to right, #ccb1f1 0%,#8885c2 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccb1f1', endColorstr='#8885c2',GradientType=1 );
    }

    &:after {
      content: '';
      position: absolute;
      bottom: -16px;
      left: -1px;
      width: 102%;
      height: 30px;
      background-color: #fff;
      z-index: 100;
      transform: skewY(1deg);
    }
  }

  &__slider-container {
    display: flex;
    text-align: left;
  }

  &__slider-title {
    font-size: 13px;
    color: #2e211c;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    flex: 1;
    margin: 0 0 18px;
    position: relative;

    @include media("<=xs") {
      font-size: 8px;
      line-height: 1;
    }

    &:after {
      content: '';
      position: absolute;
      left: 0;
      width: 1px;
      border-left: 1px dotted #b3b3b3;
    }

    &:nth-child(1) {
      flex: 0 0 24%;

      &:after {
        bottom: -21px;
        height: 20px;
      }
    }

    &:nth-child(2) {
      flex: 0 0 26%;
      padding: 0 3% 0 0;

      &:after {
        bottom: -18px;
        height: 15px;
      }

      &:before {
        content: '';
        position: absolute;
        left: 0;
        bottom: -30px;
        height: 9px;
        z-index: 1000;
        width: 1px;
        border-left: 1px solid #fff;
      }
    }

    &:nth-child(3) {
      flex: 0 0 30%;
      padding: 0 1% 0 0;

      &:after {
        bottom: -16px;
        height: 13px;
      }

      &:before {
        content: '';
        position: absolute;
        left: 0;
        bottom: -28px;
        height: 11px;
        z-index: 1000;
        width: 1px;
        border-left: 1px solid #fff;
      }
    }

    &:nth-child(4) {
      &:after {
        left: unset;
        right: 0;
        bottom: -8px;
        height: 6px;
      }
    }
  }
}

.form-field {
  border: 1px solid $c-input-border;
  border-radius: 5px;
  position: relative;
  display: flex;
  overflow: hidden;

  &--filled {
    .form-field__label {
      transform: scale(.5) translateY(-35px);

      @include media("<=sm") {
        transform: scale(.4) translateY(-30px);
      }
    }
  }

  &__label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    font-size: 24px;
    color: $c-input-placeholder;
    transform-origin: 50% 50%;
    transition: all .3s ease-in-out;
  }

  &:not(:last-child) {
    margin: 0 0 25px;
  }

  &__input {
    width: 100%;
    height: 55px;
    padding: 5px 0 0;
    text-align: center;
    font-size: 24px;
    border: none;
    color: $c-input-color;

    &:focus,&:active,&:hover {
      outline: none;
    }

    @include media("<=md") {
      padding: 0 10px;
    }

    @include media("<=sm") {
      height: 50px;
      font-size: 18px;
    }
  }
}

.form-select {
  border: 1px solid $c-input-border;
  border-radius: 5px;
  position: relative;
  display: flex;
  max-width: 318px;
  cursor: pointer;
  height: 60px;

  @include media("<=sm") {
    height: 50px;
  }

  &:not(:last-child) {
    margin: 0 auto 25px;
  }

  &--filled {
    .form-select__label {
      transform: scale(.5) translateY(-35px);

      @include media("<=sm") {
        transform: scale(.4) translateY(-30px);
      }
    }
  }

  &--open {
    .form-select__list {
      visibility: visible;
      opacity: 1;
    }
    .form-select__chevron {
      transform: rotate(-45deg);
    }
  }

  &__val {
    width: 100%;
    display: table;
    padding: 5px 0 0;
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    font-size: 24px;
    border: none;
    color: $c-input-color;

    @include media("<=sm") {
      font-size: 18px;
    }
  }

  &__label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    font-size: 24px;
    color: $c-input-placeholder;
    transform-origin: 50% 50%;
    transition: all .3s ease-in-out;
  }

  &__list {
    transition: all .3s ease-in-out;
    border: 1px solid $c-input-border;
    border-radius: 5px;
    background-color: $bg-white;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 2;
    width: 100%;
    text-align: center;
    padding: 11px;
    box-shadow: 0 3px 4px rgba(0,0,0,0.2);
    height: 300px;
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;

    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background: #888;
      border-radius: 2px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }

    &-item {
      padding: 11px 0;
      font-size: 20px;
      line-height: 36px;
      color: $c-checkbox-border;
      font-weight: 300;
      text-align: center;
      cursor: pointer;
      transition: all .3s ease-in-out;

      &:hover {
        color: $c-checkbox-text;
      }
    }
  }

  &__chevron {
    border-style: solid;
    border-color: $c-checkbox-border;
    border-width: 2px 2px 0 0;
    content: '';
    display: inline-block;
    height: 13px;
    position: absolute;
    vertical-align: top;
    width: 13px;
    top: 0;
    bottom: 0;
    right: 18px;
    margin: auto;
    transform: rotate(135deg);
    transition: all .3s ease-in-out;
  }
}

.form-checkbox {
  position: relative;
  padding: 0 0 0 31px;
  margin: 0 0 5px;
  user-select: none;
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
  display: block;
  cursor: pointer;
  color: $c-checkbox-text;

  &:hover {
    .form-checkbox__checkmark {
      background-color: #e9efff;
    }
  }

  &__input {
    position: absolute;
    cursor: pointer;
    opacity: 0;

    &:checked ~ .form-checkbox__checkmark {
      &::after,&::before {
        opacity: 1;
      }
    }
  }

  &__checkmark {
    transition: all .3s ease-in-out;
    position: absolute;
    top: 4px;
    left: 0;
    width: 20px;
    height: 20px;
    border: 1px solid $c-checkbox-border;
    border-radius: 2px;

    &:after {
      width: 110%;
      height: 110%;
      border-radius: 2px;
      content: '';
      opacity: 0;
      transition: opacity 150ms ease-in-out;
      position: absolute;
      bottom: 0;
      top: 0;
      left: 0;
      right: 0;
      margin: auto;
      background-color: $c-checkbox-border;
    }

    &:before {
      border-style: solid;
      border-color: $bg-white;
      border-width: 2px 2px 0 0;
      content: '';
      display: inline-block;
      height: 6px;
      position: absolute;
      vertical-align: top;
      width: 11px;
      top: -5px;
      bottom: 0;
      right: -2px;
      left: 0;
      margin: auto;
      z-index: 2;
      transform: rotate(135deg);
      transition: all .3s ease-in-out;
      opacity: 0;
    }
  }
}
